.about-us {
    padding: 8vh;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.team-member {
    text-align: center;
    margin: 20px;
    flex: 1 1 100px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.about-us-text {
    max-width: 50%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    z-index: 2;
}

.background {
    background-image: url('../Images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 64, 70, 0.7);
    z-index: 1;
}

@media (max-width: 768px) {
    .team {
        flex-direction: column;
    }

    .about-us-text {
        max-width: 100%;
    }
}