.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-image: url('./Images/elipse.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    z-index: 2;
}

.section-title-green {
    font-size: 1.5rem;
    font-weight: bold;
    background-image: url('./Images/elipseGreen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    z-index: 2;
}